// -----------------------------------------------------------------------------
// REPLACE STRING

@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

// -----------------------------------------------------------------------------
// INLINE SVG
// Usage example:
//  - background-image: url(svg-inline('<svg viewBox="0 0 10 10"><style>path{fill:#c00;}</style><path d="m5 9-3-4h2v-4h2v4h2z"/></svg>'));

@function svg-inline($string) {
  @if (not str-index($string, 'http://www.w3.org/2000/svg')) {
    $string: str-replace($string, "<svg", "<svg xmlns='http://www.w3.org/2000/svg'");
  }

  $string: str-replace($string, '"', "'");
  $string: str-replace($string, '<', '%3C');
  $string: str-replace($string, '>', '%3E');
  $string: str-replace($string, '&', '%26');
  $string: str-replace($string, '#', '%23');

  @return "data:image/svg+xml;utf8,#{$string}";
}
