// -----------------------------------------------------------------------------
// TRUNCATES TEXT

@mixin truncate-text($method: ellipsis) {
  text-overflow: $method;
  white-space: nowrap;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// HIDES TEXT

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
